{%  load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>title</title>
		<link href="{% static 'stagiaire/style.css'%}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'stagiaire/font-awesome.css'%}">
		<link rel="stylesheet" href="{% static 'stagiaire/bootstrap.min.css'%}">
		
		
        <!-- Bootstrap core CSS -->
        
        
	</head>
	<body>
    <nav class="navtop">
        <div>
            <h1>1020 Technologies</h1>
            <a href="{% url 'home' %}"></i>Accueil</a>
            <a href="{% url 'list' %}"></i>Stagiaires</a>
        </div>
    </nav>    
        
{% block content %} {% endblock %}
</body>
</html>