{% extends 'base.html' %}  

{% block title %}  
<title>Informations Stagiaire</title>  
{% endblock title %} 

{% block content %} 
<div class="container bg-white shadow border-0 rounded border-light p-4 p-lg-4 fmxw-750">
    <table class="table-detail">
        <thead>
            <tr>
                <th colspan="2"><h4>Informations détaillées sur le stagiaire<br>{{ infos.first_name }}</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><h6>Nom :</h6></th>
                <td><p><strong>{{ infos.last_name }}</strong></p></td>
            </tr>
            <tr>
                <th><h6>Prénom :</h6></th>
                <td><p><strong>{{ infos.first_name }}</strong></p></td>
            </tr>
            <tr>
                <th><h6>Date de Naissance :</h6></th>
                <td><p><strong> {{ infos.birthday }}</strong></p></td>
            </tr>
            <tr>
                <th><h6>Télephone :</h6></th>
                <td><p><strong>{{ infos.phone }}</strong></p></td>
            </tr>
            <tr>
                <th><h6>Télephone Urgence :</h6></th>
                <td><strong>{{ infos.emergency_phone }}</strong></td>
            </tr>
            <tr>
                <th><h6>Email :</h6></th>
                <td><p><strong>{{ infos.email }}</strong></p></td>
            </tr>
            <tr>
                <th><h6>Date de d'enregistrement :</h6></th>
                <td><p><strong>{{ infos.created_at }}</strong></p></td>
            </tr>
            <tr>
                <th><h6>CV</h6></th>
                <td><p><a href="{{ infos.cv.url }}" target="_blank">Voir le document <i class="fa fa-download"></i></a></p></td>
            </tr>
            <tr>
                <th><h6>Diplome</h6></th>
                <td><p><a href="{{ infos.diplome.url }}" target="_blank">Voir le document <i class="fa fa-download"></i></a></p></td>
            </tr>
            <tr>
                <th><h6>Attestation</h6></th>
                <td><p><a href="{{ infos.attestation.url }}" target="_blank">Voir le document <i class="fa fa-download"></i></a></p></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><a href="{% url 'home' %}" class="btn btn-danger">Retour</a></td>
                <td><a href="{% url 'stagiaire_edit' infos.id %}" class="btn btn-success">Modifier</a></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}  