{% extends 'base.html' %}  

{% block title %}  
<title>Informations Stagiaire</title>  
{% endblock title %} 

{% block content %}  
<div class="content">
    <p></p>
</div>
<div class="container">
    <p><a href="{% url 'stagiaire_create'%}" class="btn btn-success">Nouveau stagiaire</a></p>
</div>
        <div class="container">  
          
           

            <h1>{{ infos.first_name }}</h1>  
                <h2><strong> Nom:</strong>   <strong> {{ infos.last_name }}</strong></h2>  
                <h2><strong> Prénom:</strong>  <strong>{{ infos.first_name }}</strong></h2>
                <h2><strong> Date de Naissance:</strong>   <strong> {{ infos.birthday }}</strong></h2>  
                <h2><strong> Télephone:</strong>  <strong>{{ infos.phone }}</strong></h2>  
                <h2><strong> Télephone Urgence:</strong>  <strong>{{ infos.emergency_phone }}</strong></h2>  
                <h2><strong> Email:</strong>  <strong>{{ infos.email }}</strong></h2>  
                <h2><strong> Date de création:</strong>  <strong>{{ infos.created_at }}</strong></h2>  
                <h2><strong><a href="{{ infos.cv.url }}">Voir Cv</a></strong></h2>  
                <h2><strong><a href="{{ infos.diplome.url }}">Voir Diplome</a></strong></h2> 
                <h2><strong><a href="{{ infos.attestation.url }}">Voir Attestation</a></strong></h2> 
                

            <a href="{% url 'stagiaire_edit' infos.id %}" class="btn btn-success">Modifier</a> 
            <a href="{% url 'home' %}" class="btn btn-danger">Retour</a> 
        </div>   
{% endblock %}  