{% extends 'base1.html' %}
{% block content %}

<div class="row">
    <div class="col-md-8 offset-md-2">
       
            <div class="card-body p-4">
                <div class="col-md-6 offset-md-4">
                    <h1>1020 Technologies</h1>
                        <form method="post">
                             {% csrf_token %}
               
                            <table>
                                <tr>
                                     <td>{{ form.username.label_tag }}</td>
                                     <td>{{ form.username }}</td>
                                </tr>
                                 <tr>
                                     <td>{{ form.password.label_tag }}</td>
                                     <td>{{ form.password }}</td>
                                 </tr>
                            </table>
                            <button type="submit" class="btn btn-success btn-sm m-1" >Se connecter</button>
                        </form>
                        <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
                </div>
            
        </div>
    </div>
</div>
{% endblock %}