{% extends 'base.html' %}
{% block content %}
    <div class="py-1">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'user_info' %}">Profil</a></li>
                <li class="breadcrumb-item"><a href="#">Changer mot de passe</a></li>
            
            </ol>
        </nav>
    </div>
    <h2 class="text-success me-3">Modifications réussies</h2>
    <p>Les modifications ont bien été prises en compte.<br/><br/>
        <a href="{% url 'home' %}" class="btn btn-outline-tertiary">Revenir à la page d'acceuil</a>
    </p>
{% endblock content %}