{% extends 'base1.html' %}
  <!-- <div class="login-card">
    <h1>Inscription</h1><br>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
  <form method="post">
    {{form.as_p}}
    {% csrf_token %}
    <button type="submit" >S’inscrire</button>
  </form>

  <div class="register-help">
    <a href="{% url 'login' %}">Se connecter</a> 
  </div>
</div> -->

{% block content %}
<div class="login-card">
  <h1>Inscription</h1><br>
  {% if form.errors %}
      {{ form.errors }}
  {% endif %}
<form method="post">
  <table>
    <tr>
      <td>{{form.username.label}}</td>
      <td>{{form.username}} </td>
   </tr>
   <tr>
    <td>{{form.email.label}}</td>
    <td>{{form.email}} </td>
 </tr>
 <tr>
  <td>{{form.email.label}}</td>
  <td>{{form.email}} </td>
</tr>
<tr>
  <td>{{form.first_name.label}}}</td>
  <td>{{form.first_name}} </td>
</tr>
<tr>
  <td>{{form.last_name.label}}</td>
  <td>{{form.last_name}}</td>
</tr>
<tr>
  <td>{{form.post.label}}</td>
  <td> {{form.post}}</td>
</tr>
<tr>
  <td>{{form.password1.label}}</td>
  <td> {{form.password1}}</td>
</tr>
<tr>
  <td>{{form.password2.label}}</td>
  <td> {{form.password2}}</td>
</tr>
</table>
  {% csrf_token %}
  <button type="submit" >S’inscrire</button>
</form>

<div class="register-help">
  <a href="{% url 'login' %}">Se connecter</a> 
</div>
</div>
{% endblock %}