{% extends 'base.html' %}
{% block content %}
<div class="content update">
	<h2>Modifier les informations de {{ StagiaireInfo.last_name }}?</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{edit_form.as_p}} 
        <div class="content">
        <input type="submit" value="Enregistrer" class="btn btn-success btn-sm m-1">
      </div>   
    </form>
    <form action="" method="post">
        {{ delete_form }}
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"> Supprimer</button>
    </form>
    
</div>
{% endblock %}