{% extends 'base.html' %}
{% block content %}
<div class="py-1">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="#">Modifier</a></li>
           
        </ol>
    </nav>
</div>
<div class="container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-999">
                <div class="mt-md-0 mg-top">
                    <h3>Modification des informations sur le stagiaire</h3>
                    <h4>{{ stagiaire_info.first_name }}</h4>
                </div>
                <form action="" method="post" class="update_form">
                    {% csrf_token %}
                    {{ edit_form.as_p }} 
                    <div class="content">
                        <input type="submit" value="Enregistrer" class="btn btn-success">
                    </div>
                </form>
                <form action="" method="post" class="delete_form">
                    {{ delete_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> Supprimer cet enregistrement</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}