{% extends 'base.html' %}  

{% block title %}  
<title>Informations Personnelle</title>  
{% endblock title %} 

{% block content %}  
<p><a href="{% url 'home' %}">retour</a></p>
<p><a href="{% url 'stagiaire_create' %}">New stagiaire</a></p>

        <div class="container">  
          
            <h1>{{ user.post }}</h1>  
                <h2><strong> Username: </strong>  {{ user.username }}</h2>  
                <h2><strong> Nom Prénoms: </strong> {{ user.last_name }} {{ user.first_name }}</h2>  
                <h2><strong> Email: </strong> {{ user.email }}</h2>  
                <p><a href="{% url 'password_change' %}">Changer le mot de passe</a> </p> 
                <p><a href="{% url 'logout' %}">Se deconnecter</a></p>

        </div>   
{% endblock %}  